use [Task5]
go
--Create tables
drop table if exists [dbo].[Categories]
CREATE TABLE [dbo].[Categories](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY ([id])
  )
 go
 create index idx1 on [Categories](ID)
 go

drop table if exists [dbo].[Products]
CREATE TABLE [dbo].[Products](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[VendorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY ([id])
  )
 go
 create index idx1 on [Products](ID)
 go

drop table if exists [dbo].[Vendors]
CREATE TABLE [dbo].[Vendors](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Vendors] PRIMARY KEY ([id])
  )
 go
 create index idx1 on [Vendors](ID)
 go

ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Vendors_VendorId] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([ID])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Vendors_VendorId]
GO

--Create databases
insert into Categories 
(ID, Name) 
values
(N'1e3bb057-8f3b-4d7c-9b80-a77598498257', N'Boots'),
(N'9a657189-610e-4ac4-8fa9-bfd19d8e3d21', N'T-shirts'),
(N'defd9b2a-5c57-480c-a0ef-e4bf760e72b3', N'Balls')

insert into Vendors
(ID, Name, Location) 
values
 (N'aec8513f-3ed4-4013-94fc-091f2eba8d72', N'Addidas', N'Kyiv'),
 (N'd4416679-0c38-40f0-b19a-2950f13928f3', N'Nike', N'Lviv'),
 (N'e5e09678-831c-48d5-a445-b28013144b31', N'Reebok', N'Ryzun')

