*.tlog
*.idb
*.opensdf
*.sdf
Qt/build-MemoryPuzzle-Desktop_Qt_5_5_1_MSVC2013_64bit-Debug/
*.0dca578
*.ad65dec
build-Math-Desktop_Qt_5_7_1_MSVC2015_64bit-Debug/
*.opendb
*.db
PacMan/Debug/
Mario/Debug/
Arkanoid/cocos2d/
Arkanoid/proj.win32/Debug.win32/
Other/Materialise/.vs/
Other/Materialise/UnitTests/Debug/
Other/Materialise/Debug/
Other/Materialise/Utilities/Debug/
build-FindFilesWidget-Desktop_Qt_5_8_0_MSVC2015_64bit-Debug/
EpamAcademy/Task1/.vs/
EpamAcademy/Task1/bin/
EpamAcademy/Task1/obj/
EpamAcademy/Task1/UnitTests/obj/
EpamAcademy/Task1/UnitTests/bin/
EpamAcademy/Task2/.vs/
EpamAcademy/Task2/Task2/bin/
EpamAcademy/Task2/Task2/obj/
EpamAcademy/Task2/UnitTests/bin/
EpamAcademy/Task2/UnitTests/obj/
