*.tlog
*.idb
*.opensdf
*.sdf
Qt/build-MemoryPuzzle-Desktop_Qt_5_5_1_MSVC2013_64bit-Debug/
*.0dca578
*.ad65dec
build-Math-Desktop_Qt_5_7_1_MSVC2015_64bit-Debug/
*.opendb
*.db
PacMan/Debug/
Mario/Debug/
Arkanoid/cocos2d/
Arkanoid/proj.win32/Debug.win32/

build-FindFilesWidget-Desktop_Qt_5_8_0_MSVC2015_64bit-Debug/

SocialNetwork/.vs/SocialNetwork/v15/
SocialNetwork/Data/bin/
SocialNetwork/Data/obj/
EpamAcademy/SocialNetwork/UnitTest/bin/Debug/
EpamAcademy/SocialNetwork/UnitTest/obj/Debug/
AirHockey/.vs/
AirHockey/x64/

Other/BuildingEscape/.vs/
Other/BuildingEscape/Binaries/
Other/BuildingEscape/Saved/
Other/BuildingEscape/Intermediate/
Other/BullCowGame/.vs/
Other/BullCowGame/Binaries/
Other/BullCowGame/Saved/
Other/BullCowGame/Intermediate/
Other/ToonTanks/.vs/
Other/ToonTanks/Binaries/
Other/ToonTanks/Saved/
Other/ToonTanks/Intermediate/
Other/SimpleShooter/.vs/
Other/SimpleShooter/Binaries/
Other/SimpleShooter/Saved/
Other/SimpleShooter/Intermediate/
Other/Shooter/.vs/
Other/Shooter/Binaries/
Other/Shooter/Intermediate/
Other/Shooter/Saved/
Other/Shooter/Content/Maps/SunTemple_BuiltData.uasset

Other/StealthGame/.vs/
Other/StealthGame/Binaries/
Other/StealthGame/Intermediate/
Other/StealthGame/Saved/

Other/CoopGame/.vs/
Other/CoopGame/Binaries/
Other/CoopGame/Intermediate/
Other/CoopGame/Saved/


Other/AI/ShooterAI/.vs/
Other/AI/ShooterAI/Binaries/
Other/AI/ShooterAI/Intermediate/
Other/AI/ShooterAI/Saved/

Other/AI/RPGStyleAI/.vs/
Other/AI/RPGStyleAI/Binaries/
Other/AI/RPGStyleAI/Intermediate/
Other/AI/RPGStyleAI/Saved/

Other/UltimateShooter/.vs/
Other/UltimateShooter/Binaries/
Other/UltimateShooter/Intermediate/
Other/UltimateShooter/Saved/

Other/Blueprint/Rolling/.vs/
Other/Blueprint/Rolling/Binaries/
Other/Blueprint/Rolling/Intermediate/
Other/Blueprint/Rolling/Saved/

Other/Blueprint/BallBounce/.vs/
Other/Blueprint/BallBounce/Binaries/
Other/Blueprint/BallBounce/Intermediate/
Other/Blueprint/BallBounce/Saved/

Other/Blueprint/PuzzleGame/.vs/
Other/Blueprint/PuzzleGame/Binaries/
Other/Blueprint/PuzzleGame/Intermediate/
Other/Blueprint/PuzzleGame/Saved/

Other//AirHockey/AirHockey/x64/Debug
/Mario/.vs/Mario
/Tic Tac Toe/.vs
/Tic Tac Toe/Tic Tac Toe/Debug

*.pkl
/Python/Сhess/dist
/Python/Сhess/__pycache__
/Python/Сhess/__pycache__
*.pyc
