/* You can add global styles to this file, and also import other style files */
.topRegion
{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.leftRegion
{
  position: fixed;
  width: 300px;
  height: calc(100vh - 128px);
}

.centerRegion
{
  margin-left: 301px;
  width: calc(100% - 301px);
}

.content
{
  margin-top: 73px;
}

.bottomRegion
{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align:  center;
}

.border-3
{
  border-width: 3px !important;
}
