# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
backend/venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*
!.env.example
!.env.production.example
websocket_test.py 

.coverage
htmlcov/