<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.MappingAPI" version="6.1.0.9" targetFramework="net452" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net472" />
  <package id="MaxMind.Db" version="1.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Z.EntityFramework.Extensions" version="3.15.20" targetFramework="net472" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.8.9" targetFramework="net472" />
</packages>