<div class="container-fluid mt-3">
  <div class="row">
      <div class="col">
          <div id="seats"></div>
      </div>
      <div class="col">
          <div *ngIf="isReserved; else noTickets">
              <div class="mb-4">
                  <button class='btn btn-primary'>Reserve</button>
                  <button class='btn btn-success ml-3'>Buy</button>
                  <hr>
              </div>
              <ul class="list-group">
                  <li *ngFor="let element of reserved" class="list-group-item">
                    <b>Row:</b> {{element.row}},
                    <b>Seat:</b> {{element.seat}},
                    <b>Price:</b> {{element.priceInCents}}
                    <button type="button" (click)="onCloseClick(element)" class="ml-3 close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </li>
              </ul>
              <ul class="list-group mt-4">
                  <li class="list-group-item">
                      <b>Summary</b>: <span style="float: right">{{summary}} .c</span>
                  </li>
              </ul>
          </div>
          <ng-template #noTickets>
              <ul class="list-group" >
                <li class="list-group-item center">
                  <b>No ticket selected!</b>
                </li>
              </ul>
          </ng-template>
      </div>
  </div>
</div>
