<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Ball</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{16,64},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./BlueBrick</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,16}</string>
    <key>spriteSourceSize</key>
    <string>{32,16}</string>
    <key>textureRect</key>
    <string>{{16,32},{32,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GreenBrick</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,16}</string>
    <key>spriteSourceSize</key>
    <string>{32,16}</string>
    <key>textureRect</key>
    <string>{{16,48},{32,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LeftWall</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,484}</string>
    <key>spriteSourceSize</key>
    <string>{16,484}</string>
    <key>textureRect</key>
    <string>{{0,16},{16,484}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Paddle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{78,16}</string>
    <key>spriteSourceSize</key>
    <string>{78,16}</string>
    <key>textureRect</key>
    <string>{{16,16},{78,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./RedBrick</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,16}</string>
    <key>spriteSourceSize</key>
    <string>{32,16}</string>
    <key>textureRect</key>
    <string>{{48,32},{32,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./RightWall</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,484}</string>
    <key>spriteSourceSize</key>
    <string>{16,484}</string>
    <key>textureRect</key>
    <string>{{0,16},{16,484}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./TopWall</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{512,16}</string>
    <key>spriteSourceSize</key>
    <string>{512,16}</string>
    <key>textureRect</key>
    <string>{{0,0},{512,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{512,500}</string>
   <key>textureFileName</key>
   <string>ImageAtlas.png</string>
  </dict>
 </dict>
</plist>
