# PostgreSQL
POSTGRES_DB=football
POSTGRES_USER=football
POSTGRES_PASSWORD=replace_me_postgres
POSTGRES_PORT=5433

# Redis
REDIS_PORT=6380

# RabbitMQ
RABBITMQ_USER=football
RABBITMQ_PASSWORD=replace_me_rabbitmq
RABBITMQ_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673

# API-Football
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=replace_me_api_football
API_FOOTBALL_TIMEOUT_SECONDS=10
