# PostgreSQL
POSTGRES_DB=football
POSTGRES_USER=football
POSTGRES_PASSWORD=replace_me_postgres
POSTGRES_PORT=5433

# Redis
REDIS_PORT=6380

# RabbitMQ
RABBITMQ_USER=football
RABBITMQ_PASSWORD=replace_me_rabbitmq
RABBITMQ_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673
