.row {
  counter-reset: seat;
  counter-increment: row;
  /****/ border: 2px solid black; margin: 10px;
}
.row::before {
  content: counter( row ) "→ ";
  /****/ font-size: 30px; color:black;
}

.seat {
  counter-increment: seat;
  /****/ border: 1px solid black; display: inline-block; margin: 15px 5px 0 0; width: 50px;
}

.seat::before {
  content: counter( seat ) ". ";
}
